.navbar {
    .navbar-brand {
        font-weight: bold;
    }
  background: #007B76;
  a {
    color: white;
  }
  .share-idea-btn {
    background-color: #ef476f;
    border-radius: 20px;
    padding: 7px 15px !important;
    margin-right: 10px;
    // font-weight: bold;
  }
}

.app-body {
  margin-top: 20px;
}

.badge {
  margin-right: 5px;
  background-color: #ef476f;
}

.feed-card {
  margin-bottom: 20px;
}
