body {
  background: #f9f9f9;
}

header {
  height: 190px;
  background: #DA1552;
  margin-bottom: 50px;
}
.navbar {
    .navbar-brand {
        font-weight: bold;
    }
  background: #DA1552;
  a {
    color: white;
  }
  .share-idea-btn {
    background-color: #ef476f;
    border-radius: 20px;
    padding: 7px 15px !important;
    margin-right: 10px;
    // font-weight: bold;
  }
}

.badge {
  margin-right: 5px;
  background-color: #ef476f;
}

.feed-card {
  margin-bottom: 20px;
  height: 400px;
}

@media (max-width: 575.98px) {
  .feed-content {
    padding: 0 28px;
  }
}
